<div class="w-full">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"></h2>
  <%# Dashboard/nav %>
  <%= render 'shared/dashboard_nav', user: @wallet.balance  %>
  <div class="mx-auto">
    <%# Cards Profile / History %>
    <div id="users" class="grid gap-6 mb-8 md:grid-cols-2">
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 font-semibold text-gray-900 dark:text-gray-600">
          Profile
        </h4>
        <p class="text-gray-600 dark:text-gray-400"><%= render @user %></p>

        <%= render  "shared/links", user: @user %>
        
        <div class="inline-block ml-2">
          <%= button_to 'Destroy this user', user_path(@user), method: :delete,
          class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>

        <%= link_to 'Back', root_path, class: "ml-2 rounded-lg py-3
        px-5 bg-gray-100 inline-block font-medium" %>

      </div>
      <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
        <h4 class="mb-4 font-semibold">Transactions history</h4>
        <table class="table table-zebra w-full">
          <thead>
            <tr>
              <th>Type</th>
              <th>Amount</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <% @transactions&.each do |t| %>
              <tr>
                <td>
                  <span class="<%= color_transaction(t.transaction_type) %>">
                    <%= t.transaction_type %>
                  </span>
                </td>
                <td><%= number_to_currency(t.amount) %></td>
                <td><%= t.created_at.strftime("%a, %d %B %Y at %T") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
