<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <title>VirtualWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="container px-5 py-24 mx-auto">
      <% if notice.present? %>
        <p class="text-justify py-2 px-3 bg-green-50 mb-8 text-green-500 font-medium rounded-lg" id="notice">
          <%= notice %>
        </p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
