<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>VirtualWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </head>
  <body class="h-full">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" >
      <%= render 'layouts/sidebar' %>
      <div class="flex flex-col flex-1 w-full">
        <%= render 'layouts/header' %>
        <div class="container px-6 mx-auto grid">
          <%= render 'layouts/nav' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
